In [30]:
import numpy as np
import pandas as pd

Question 1: Create a NumPy array myArray1 
The array should hold the numbers 1, 4, 6, 2, 5.  
Then, multiply each value by 10. Print the final myArray1.

In [8]:
myArray1 = np.array([1,4,6,2,5])*10
print(myArray1)

[10 40 60 20 50]

Question 2: Create a NumPy array called myArray2 
1)The array should hold 100 normally distributed numbers with mean = 100 and standard deviation of 10. Print the first 30 values.
2)Store the values that are > 100 in a new Array called myArray2GT100. Print the first 30 values.
3)Print how many values are > 100.
4)Was that what you would expect?

In [29]:
myArray2 = np.array(np.random.normal(100,10,100))
print(myArray2[:30])
myArray2GT100 = []
i=0
for number in myArray2:
    if number > 100:
        myArray2GT100.insert(i,number)
    i=i+1    
print(myArray2GT100[:30])    
print(myArray2GT100)
len(myArray2GT100)
# Yes, it is distribution and it is expected to have several values below 100 as well

[109.41581074  99.53929774 105.32914185  88.17931623 105.51056589
  86.08293427 107.88202035  90.42142462  91.75901973  86.06810434
 104.71446327 100.76519189 103.61012007 101.29529517  89.04339334
 107.95341475 100.65311333 100.63181328  92.8697429  105.65748363
  95.76325438 100.88602814  95.44896526 105.24700075  99.7477918
  92.35589446  82.08620287  84.68312116 107.33528714 103.86727762]
[109.41581074011769, 105.32914185493887, 105.51056589076872, 107.88202035467629, 104.71446327497002, 100.76519188610108, 103.61012006896408, 101.29529516587127, 107.9534147465817, 100.65311332841527, 100.6318132760337, 105.65748363401416, 100.88602813841831, 105.24700075262004, 107.33528713832719, 103.8672776201658, 104.51592330332969, 103.99361895597369, 110.88248304326581, 117.75878842285549, 111.47677833352577, 106.46534838082765, 101.2929977471472, 108.61698028966676, 110.13364885173665, 106.04255032524733, 102.86726391471227, 109.13368124075566, 107.67517981833869, 103.79844612901799]
[109.41581074011769, 105.32914185493887, 105.51056589076872, 107.88202035467629, 104.71446327497002, 100.76519188610108, 103.61012006896408, 101.29529516587127, 107.9534147465817, 100.65311332841527, 100.6318132760337, 105.65748363401416, 100.88602813841831, 105.24700075262004, 107.33528713832719, 103.8672776201658, 104.51592330332969, 103.99361895597369, 110.88248304326581, 117.75878842285549, 111.47677833352577, 106.46534838082765, 101.2929977471472, 108.61698028966676, 110.13364885173665, 106.04255032524733, 102.86726391471227, 109.13368124075566, 107.67517981833869, 103.79844612901799, 115.15876502268355, 110.16173599389103, 110.77953995840627, 100.67570001636979, 104.4010716985985, 108.10363987650058, 105.6324582602726, 104.6901350730014, 102.04731386678779, 114.12886735097405, 107.87857905906354, 114.65105291579403, 106.69235417347782, 102.00670166713883, 129.8409821897943, 101.72143582422673, 106.40793217916469, 101.96727269236347, 106.60756738774619]

49

Question 3: Create a pandas series called mySeries 
The series should hold the values 34, 12, 34 and 23 and the labels A, B, C, and D. Create a name to label the column “Type”. Print the Series.

Print only the Type B values
Print only the Type B and C values
Print all the values that are equal to 34

In [66]:
mySeries = pd.DataFrame({'Type':['A','B','C','D'], 'Values' : [34,12,34,23]})
print(mySeries)

  Type  Values
0    A      34
1    B      12
2    C      34
3    D      23

In [64]:
print(mySeries.Values[mySeries.Type == 'B'])
print(mySeries.Values[(mySeries.Type == 'B')|(mySeries.Type == 'C')])
print(mySeries.Type[(mySeries.Values == 34)])

1    12
Name: Values, dtype: int64
1    12
2    34
Name: Values, dtype: int64
0    A
2    C
Name: Type, dtype: object

Question 4
Create a pandas dataframe called mydf with the following structure:

View the dataframe.
Change the order of the columns to be sales, employees, location and save as mydf2. View the new dataframe.
View only the employees from mydf2.
View only data for Dallas from mydf2.
View the sales for Dallas from mydf2.
View the sales and employees for Dallas from mydf2.
View sales > 35000 from mydf2.

In [83]:
index = ['Dallas', 'Austin', 'Fort Worth', 'Houston']
data = {'employees': [24,16,25,30], 'location': [13,8,4,2], 'sales' : [34523, 12345, 39324, 41234]}
mydf = pd.DataFrame(data, index = index)
print(mydf)

            employees  location  sales
Dallas             24        13  34523
Austin             16         8  12345
Fort Worth         25         4  39324
Houston            30         2  41234

In [96]:
mydf2 = mydf[['sales','employees','location']]
print(mydf2)
print(mydf2.employees)
print(mydf2[mydf2.index=='Dallas'])
print(mydf2.sales[mydf2.index=='Dallas'])

            sales  employees  location
Dallas      34523         24        13
Austin      12345         16         8
Fort Worth  39324         25         4
Houston     41234         30         2
Dallas        24
Austin        16
Fort Worth    25
Houston       30
Name: employees, dtype: int64
        sales  employees  location
Dallas  34523         24        13
Dallas    34523
Name: sales, dtype: int64

In [99]:
mydf3 = mydf2.drop('location', axis = 1)
print(mydf3[mydf3.index=='Dallas'])

        sales  employees
Dallas  34523         24

In [101]:
print(mydf2[mydf2.sales>35000])

            sales  employees  location
Fort Worth  39324         25         4
Houston     41234         30         2